/Firmware/Documentation/
/Firmware/busPirate.X/*.[is]
/Firmware/busPirate.X/*.map
/Firmware/busPirate.X/debug/


**/*.X/nbproject/Makefile-*
**/*.X/build
**/*.X/.generated_files
**/*.X/nbproject/Package-*
**/*.X/nbproject/private/
**/*.X/dist/

